@model IEnumerable<Freelancer.Models.ServiceRequest>

@{
    ViewBag.Title = "completedBooking";
}
<br />
<h2>Completed Bookings</h2>

<section class="p-t-20">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="title-5 m-b-35">Customer Service Requests</h3>
                <div class="table-data__tool">
                    <div class="table-data__tool-left">
                        <div class="rs-select2--light rs-select2--md">
                            <select class="js-select2" name="property">
                                <option selected="selected">All Properties</option>
                                <option value="">Option 1</option>
                                <option value="">Option 2</option>
                            </select>
                            <div class="dropDownSelect2"></div>
                        </div>
                        <div class="rs-select2--light rs-select2--sm">
                            <select class="js-select2" name="time">
                                <option selected="selected">Today</option>
                                <option value="">3 Days</option>
                                <option value="">1 Week</option>
                            </select>
                            <div class="dropDownSelect2"></div>
                        </div>
                        <button class="au-btn-filter">
                            <i class="zmdi zmdi-filter-list"></i>filters
                        </button>
                    </div>
                    @*<div class="table-data__tool-right">
                        <button class="au-btn au-btn-icon au-btn--green au-btn--small">
                            <i class="zmdi zmdi-plus"></i>add item
                        </button>
                        <div class="rs-select2--dark rs-select2--sm rs-select2--dark2">
                            <select class="js-select2" name="type">
                                <option selected="selected">Export</option>
                                <option value="">Option 1</option>
                                <option value="">Option 2</option>
                            </select>
                            <div class="dropDownSelect2"></div>
                        </div>*@
                </div>
            </div>

            <div class="table-responsive table-responsive-data2">
                <table class="table table-borderless table-data3">
                    <thead>
                        <tr>
                            <th>
                                <label class="au-checkbox">
                                    <input type="checkbox">
                                    <span class="au-checkmark"></span>
                                </label>
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.requestDate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.serviceDescription)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.verified)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Customer.customerName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Job.jobDescription)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr class="tr-shadow">
                                <td>
                                    @Html.DisplayFor(modelItem => item.requestDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.serviceDescription)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.verified)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Customer.customerName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Job.jobDescription)
                                </td>
                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                                    @Html.ActionLink("Details", "Details", new { id = item.id }) |
                                    @Html.ActionLink("Delete", "Delete", new { id = item.id })
                                </td>
                            </tr>
                            <tr class="spacer"></tr>

                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
