@model IEnumerable<Freelancer.Models.ServiceRequest>
@{
    ViewBag.Title = "FreelancerRequests";
}

<br />
<h2>Freelancer Requests</h2>

<section class="p-t-20">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="title-5 m-b-35">Customer Service Requests</h3>
                <div class="table-data__tool">
                    <div class="table-data__tool-left">
                        <div class="rs-select2--light rs-select2--md">
                            <select class="js-select2" name="property">
                                <option selected="selected">All Properties</option>
                                <option value="">Option 1</option>
                                <option value="">Option 2</option>
                            </select>
                            <div class="dropDownSelect2"></div>
                        </div>
                        <div class="rs-select2--light rs-select2--sm">
                            <select class="js-select2" name="time">
                                <option selected="selected">Today</option>
                                <option value="">3 Days</option>
                                <option value="">1 Week</option>
                            </select>
                            <div class="dropDownSelect2"></div>
                        </div>
                        <button class="au-btn-filter">
                            <i class="zmdi zmdi-filter-list"></i>filters
                        </button>
                    </div>
                    @*<div class="table-data__tool-right">
                        <button class="au-btn au-btn-icon au-btn--green au-btn--small">
                            <i class="zmdi zmdi-plus"></i>add item
                        </button>
                        <div class="rs-select2--dark rs-select2--sm rs-select2--dark2">
                            <select class="js-select2" name="type">
                                <option selected="selected">Export</option>
                                <option value="">Option 1</option>
                                <option value="">Option 2</option>
                            </select>
                            <div class="dropDownSelect2"></div>
                        </div>*@
                </div>
            </div>
            <div class="table-responsive table-responsive-data2">
                <table class="table table-borderless table-data3" id="mydata">
                    <thead>
                        <tr>
                            <th>
                                <label class="au-checkbox">
                                    <input type="checkbox">
                                    <span class="au-checkmark"></span>
                                </label>
                            </th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Description</th>
                            <th>Date Posted</th>
                            <th>Status</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr class="tr-shadow">
                                <td>
                                    <label class="au-checkbox">
                                        <input type="checkbox">
                                        <span class="au-checkmark"></span>
                                    </label>
                                </td>
                                <td>@item.Customer.customerName</td>
                                <td>
                                    <span class="block-email">@item.Customer.customerEmail</span>
                                </td>
                                <td class="desc">@item.serviceDescription</td>
                                <td>@item.requestDate</td>

                                @if (item.verified == false)
                                {
                                    <td class="denied">On Hold</td>
                                }
                                else
                                {
                                    <td class="process">Paid</td>
                                }

                                <td>
                                    <div class="table-data-feature">
                                        <button class="item" data-toggle="tooltip" data-placement="top" onclick="bookings(@item.jobCode)" title="Edit">
                                            <i class="zmdi zmdi-edit"></i>
                                        </button>
                                        @*<button class="item" data-toggle="tooltip" data-placement="top" title="Edit">
                                                <i class="zmdi zmdi-edit"></i>
                                            </button>*@
                                        <button class="item" data-toggle="tooltip" data-placement="top" onclick="alert('Button is under Construction')" title="Delete">
                                            <i class="zmdi zmdi-delete"></i>
                                        </button>
                                        <button class="item" data-toggle="tooltip" data-placement="top" onclick="alert('Process unavailable') " title="Details">
                                            <i class="zmdi zmdi-more"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                            <tr class="spacer"></tr>

                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>