@model Freelancer.Areas.Freelancer.ViewModels.HomeModel

@{
    ViewBag.Title = "Index";
}


@{
    ViewBag.Title = "Index";
}

<!-- BREADCRUMB-->
<section class="au-breadcrumb2">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="au-breadcrumb-content">
                    <div class="au-breadcrumb-left">
                        <span class="au-breadcrumb-span">You are here:</span>
                        <ul class="list-unstyled list-inline au-breadcrumb__list">
                            <li class="list-inline-item active">
                                <a href="#">Home</a>
                            </li>
                            <li class="list-inline-item seprate">
                                <span>/</span>
                            </li>
                            <li class="list-inline-item">Dashboard</li>
                        </ul>
                    </div>
                    <form class="au-form-icon--sm" action="" method="post">
                        <input class="au-input--w300 au-input--style2" type="text" id="fiLterInput" placeholder="Search for booking...">
                        <button class="au-btn--submit2" type="submit">
                            <i class="zmdi zmdi-search"></i>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END BREADCRUMB-->
<!-- WELCOME-->
<section class="welcome p-t-10">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="title-4">
                    Welcome back
                    <span>@Session["name"].ToString()</span>
                </h1>
                <hr class="line-seprate">
            </div>
        </div>
    </div>
</section>
<!-- END WELCOME-->
<!-- STATISTIC-->
<section class="statistic statistic2">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-3">
                <div class="statistic__item statistic__item--green">
                    <span class="desc">Services Rendered</span>
                    <h2 class="number">@Model.totalServices</h2>
                    <div class="icon">
                        <i class="zmdi zmdi-account-o"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="statistic__item statistic__item--orange">
                    <span class="desc">Customers Serviced</span>
                    <h2 class="number">@Model.totalCustomers</h2>
                    <div class="icon">
                        <i class="zmdi zmdi-shopping-cart"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="statistic__item statistic__item--blue">
                    <span class="desc">Weekly Earnings</span>
                    <h2 class="number">R<span>@Model.weekEarnings</span></h2>
                    <div class="icon">
                        <i class="zmdi zmdi-calendar-note"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="statistic__item statistic__item--red">
                    <span class="desc">Total earnings</span>
                    <h2 class="number">R<span>@Model.totalIncome</span></h2>
                    <div class="icon">
                        <i class="zmdi zmdi-money"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END STATISTIC-->
<!-- STATISTIC CHART-->
<section class="statistic-chart">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="title-5 m-b-35">statistics</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <!-- CHART-->
                <div class="statistic-chart-1">
                    <h3 class="title-3 m-b-30">Yearly Sales Graph</h3>
                    <div class="chart-wrap">
                        <canvas id="widgetChart5"></canvas>
                    </div>
                    <div class="statistic-chart-1-note">
                        <label class="big"><b>Top month: </b>@Model.bestMonthSales</label>
                        <br />
                        <label class="big"><b>Total Sales: </b>R @Model.monthSales</label>
                    </div>
                </div>
                <!-- END CHART-->
            </div>
            <div class="col-md-6 col-lg-4">
                <!-- TOP CAMPAIGN-->
                <div class="top-campaign">
                    <h3 class="title-3 m-b-30">Top Categories</h3>
                    <div class="table-responsive">
                        <table class="table table-top-campaign">
                            <thead>
                                <tr>
                                    <td><b>Category name</b></td>
                                    <td style="color: #808080"><b>Total Requests</b></td>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.topCategories.OrderByDescending(a => a.requests))
                                {
                                    <tr>
                                        <td>@item.name</td>
                                        <td>@item.requests</td>
                                    </tr>


                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- END TOP CAMPAIGN-->
            </div>
            <div class="col-md-6 col-lg-4">
                <!-- CHART PERCENT-->
                <div class="chart-percent-2">
                    <h3 class="title-3 m-b-30">Sales Chart</h3>
                    <div class="chart-wrap">
                        <canvas id="percent-chart2"></canvas>
                        <div id="chartjs-tooltip">
                            <table></table>
                        </div>
                    </div>
                    <div class="chart-info">
                        <div class="chart-note">
                            <span class="dot dot--blue"></span>
                            <span>Paid</span>
                        </div>
                        <div class="chart-note">
                            <span class="dot dot--red"></span>
                            <span>Not Paid</span>
                        </div>
                    </div>
                </div>
                <!-- END CHART PERCENT-->
            </div>
        </div>
    </div>
</section>
<!-- END STATISTIC CHART-->
<!-- DATA TABLE-->
<section class="p-t-20">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="title-5 m-b-35">Customer Service Requests</h3>
                <div class="table-data__tool">
                    <div class="table-data__tool-left">
                        <div class="rs-select2--light rs-select2--md">
                            <select class="js-select2" name="property">
                                <option selected="selected">All Properties</option>
                                <option value="">Option 1</option>
                                <option value="">Option 2</option>
                            </select>
                            <div class="dropDownSelect2"></div>
                        </div>
                        <div class="rs-select2--light rs-select2--sm">
                            <select class="js-select2" name="time">
                                <option selected="selected">Today</option>
                                <option value="">3 Days</option>
                                <option value="">1 Week</option>
                            </select>
                            <div class="dropDownSelect2"></div>
                        </div>
                        <button class="au-btn-filter">
                            <i class="zmdi zmdi-filter-list"></i>filters
                        </button>
                    </div>
                    @*<div class="table-data__tool-right">
                        <button class="au-btn au-btn-icon au-btn--green au-btn--small">
                            <i class="zmdi zmdi-plus"></i>add item
                        </button>
                        <div class="rs-select2--dark rs-select2--sm rs-select2--dark2">
                            <select class="js-select2" name="type">
                                <option selected="selected">Export</option>
                                <option value="">Option 1</option>
                                <option value="">Option 2</option>
                            </select>
                            <div class="dropDownSelect2"></div>
                        </div>*@
                </div>
            </div>
            <div class="table-responsive table-responsive-data2">
                <table class="table table-borderless table-data3" id="mydata">
                    <thead>
                        <tr>
                            <th>
                                <label class="au-checkbox">
                                    <input type="checkbox">
                                    <span class="au-checkmark"></span>
                                </label>
                            </th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Description</th>
                            <th>Date Posted</th>
                            <th>Status</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.requests)
                        {
                            <tr class="tr-shadow">
                                <td>
                                    <label class="au-checkbox">
                                        <input type="checkbox">
                                        <span class="au-checkmark"></span>
                                    </label>
                                </td>
                                <td>@item.Customer.customerName</td>
                                <td>
                                    <span class="block-email">@item.Customer.customerEmail</span>
                                </td>
                                <td class="desc">@item.serviceDescription</td>
                                <td>@item.requestDate</td>

                                @if (item.verified == false)
                                {
                                    <td class="denied">On Hold</td>
                                }
                                else
                                {
                                    <td class="process">Paid</td>
                                }

                                <td>
                                    <div class="table-data-feature">
                                        <button class="item" data-toggle="tooltip" data-placement="top" id="acceptBookig" title="Edit">
                                            <i class="zmdi zmdi-edit"></i>
                                        </button>
                                        @*<button class="item" data-toggle="tooltip" data-placement="top" title="Edit">
                                                <i class="zmdi zmdi-edit"></i>
                                            </button>*@
                                        <button class="item" data-toggle="tooltip" data-placement="top" onclick="alert('Button is under Construction')" title="Delete">
                                            <i class="zmdi zmdi-delete"></i>
                                        </button>
                                        <button class="item" data-toggle="tooltip" data-placement="top" onclick="alert('Process unavailable') " title="Details">
                                            <i class="zmdi zmdi-more"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                            <tr class="spacer"></tr>

                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
<!-- END DATA TABLE-->


<script>
    //let filterInput = document.getElementById('fiLterInput');

    //filterInput.addEventListener('keyup', filterTable);

    //function filterTable() {
    //    // Get Value of input
    //    let filterValue = document.getElementById('fiLterInput').value.toUpperCase();

    //    console.log(filterValue);
    //    let row = document.querySelectorAll('tr.tr-shadow');

    //    for (var i = 0; i < row.length; i++) {

    //        var tableData = row[i].getElementByTagName('td')[1];
    //        console.log(tableData);
    //        if (tableData.innerHTML.toUpperCase().indexof(filterValue) > -1) {
    //            row[i].style.display = '';
    //        } else {
    //            row[i].style.display = 'none';
    //        }
    //    }
    //}

    function bookings(jobcode) {
        var k = jobcode;
        window.location = "/Freelancer/Bookings/approveBookings/id=" + k;
    }
</script>

<script>
    $(document).ready(function () {

        $('#acceptBookig').on('click', function () {
            bootbox.confirm("Are you sure you want to  accept booking", funtion(result){
                if(result) {
                    bootbox.alert("Booking Successfully Confirmed");
                }
            });
        });
    });
</script>