@model IEnumerable<Freelancer.Models.Job>

@{
    ViewBag.Title = "Index";
}

<br />
<h2>Manage Jobs</h2>

<section class="p-t-20">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="title-5 m-b-35">Upgrade Your Business</h3>
                <div class="table-data__tool">
                    <div class="table-data__tool-left">
                        <div class="rs-select2--light rs-select2--md">
                            <select class="js-select2" name="property">
                                <option selected="selected">All Properties</option>
                                <option value="">Option 1</option>
                                <option value="">Option 2</option>
                            </select>
                            <div class="dropDownSelect2"></div>
                        </div>
                        <div class="rs-select2--light rs-select2--sm">
                            <select class="js-select2" name="time">
                                <option selected="selected">Today</option>
                                <option value="">3 Days</option>
                                <option value="">1 Week</option>
                            </select>
                            <div class="dropDownSelect2"></div>
                        </div>
                        <button class="au-btn-filter">
                            <i class="zmdi zmdi-filter-list"></i>filters
                        </button>
                    </div>
                    <div class="table-data__tool-right">
                        <button class="au-btn au-btn-icon au-btn--green au-btn--small" onclick="addJob()">
                            <i class="zmdi zmdi-plus"></i>add gig
                        </button>
                        <div class="rs-select2--dark rs-select2--sm rs-select2--dark2">
                            <select class="js-select2" name="type">
                                <option selected="selected">Package</option>
                                <option value="1">Basic</option>
                                <option value="2">Standard</option>
                                <option value="3">Premium</option>
                            </select>
                            <div class="dropDownSelect2"></div>
                        </div>
                    </div>
                </div>
                <div class="table-responsive table-responsive-data2">
                    <table class="table table-data2">
                        <thead>
                            <tr>
                                <th>
                                    <label class="au-checkbox">
                                        <input type="checkbox">
                                        <span class="au-checkmark"></span>
                                    </label>
                                </th>
                                <th>
                                   JobNo
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.jobDescription)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.hourlyRate)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.baseRate)
                                </th>
                                <th>
                                    Advert
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                            <tr class="tr-shadow">
                                <td>
                                    <label class="au-checkbox">
                                        <input type="checkbox">
                                        <span class="au-checkmark"></span>
                                    </label>
                                </td>
                                <td><span class="block-email">@item.jobCode</span></td>
                                <td class="desc">@item.jobDescription</td>
                                <td>@item.hourlyRate</td>
                                <td>
                                    <span>R</span>@item.baseRate

                                </td>
                                <td>
                                    <div class="image">
                                        <img src="@Url.Content(item.imageURL)" alt="John Doe" />
                                    </div>
                                </td>
                                <td>
                                    <div class="table-data-feature">
                                        @*<button class="item" data-toggle="tooltip" data-placement="top" title="Edit" >
                                            <i class="zmdi zmdi-filter-list"></i>
                                        </button>
                                        <button class="item" data-toggle="tooltip" data-placement="top" title="Delete">
                                            <i class="zmdi zmdi-delete"></i>
                                        </button>
                                        <button class="item" data-toggle="tooltip" data-placement="top" title="More">
                                            <i class="zmdi zmdi-more"></i>
                                        </button>*@
                                        @Html.ActionLink("Edit", "Edit", new { id = item.jobCode}, htmlAttributes: new { @class="btn btn-primary"}) 
                                        @Html.ActionLink("Delete", "Delete", new { id = item.jobCode}, htmlAttributes: new { @class="btn btn-danger"}) 
                                        @Html.ActionLink("Details", "Details", new { id = item.jobCode}, htmlAttributes: new { @class="btn btn-warning"})
                                    </div>
                                </td>
                            </tr>
                                <tr class="spacer"></tr>

                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
 
    function addJob() {
        var url = '@Url.Action("Create", "PostJob")';
        window.open(url);
    }

</script>